.content-wrapper
  .container
    .row
      .col-md-12
        %h4.page-head-line Messages between you and #{@conversation.recipient.first_name}
    .row
      .col-md-12
        .panel-group{ :id => "accordion" }
          - @messages.each_with_index do |message, index|
            .panel.panel-default
              .panel-heading
                .panel-title
                  %a{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse#{index.to_s}"}
                    = message.created_at.strftime("From #{message.author.first_name} on %B %d, %Y at %H:%M")
              %div{:id => "collapse#{index.to_s}", :class => "panel-collapse collapse in"}
                .panel-body
                  = message.body