= bootstrap_form_tag url: "/login", class: "sign_in" do |f|
  %header
    %h1 Sign in
  %fieldset
    = f.email_field :email
    = f.password_field :password
  %fieldset.form-group.action
    = f.submit "Sign In"
    = link_to "Forgot Password?", forgot_password_path