.content-wrapper
  .container
    .row
      .col-md-12
        %h4.page-head-line Sign In
    .row.well
      = bootstrap_form_tag url: "/login", class: "sign_in" do
        .form-group.row
          .col-sm-2
            = label_tag :email, "Email Address"
            = email_field_tag :email
        .row
          .col-sm-2
            = label_tag :passoword, "Password"
            = password_field_tag :password
        .form-group.action
          %br/
          = submit_tag "Sign In", class: "btn btn-success btn"
          = link_to "Forgot Password?", forgot_password_path