.content-wrapper
  .container
    .row
      .col-md-12
        %h4.page-head-line All of your conversations
    .row
      .col-md-12
        .panel-group{ :id => "accordion" }
          - @conversations.each do |conversation_id, messages|
            %h4
              = link_to "Conversation between #{messages.first.author.first_name} and #{messages.first.reader.first_name}", conversation_path(conversation_id)
            .panel.panel-default
              .panel-heading
                .panel-title
                  %a{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse#{conversation_id.to_s}"}
                    = messages.last.created_at.strftime("From #{messages.last.author.first_name} on %B %d, %Y at %H:%M")
              %div{:id => "collapse#{conversation_id.to_s}", :class => "panel-collapse collapse in"}
                .panel-body
                  = messages.last.body
          