.content-wrapper
  .container
    .row
      .col-md-12
        %h4.page-head-line All of your conversations
    .row
      .col-md-12
        .panel-group{ :id => "accordion" }
          - @conversations.each do |conversation|
            %h4
              = link_to "#{conversation.title(current_user)}", conversation_path(conversation.id)
            .panel.panel-default
              .panel-heading
                .panel-title
                  %a{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse#{conversation.id.to_s}"}
                    = conversation.messages.last.created_at.strftime("From #{conversation.messages.last.author.first_name} on %B %d, %Y at %H:%M")
              %div{:id => "collapse#{conversation.id.to_s}", :class => "panel-collapse collapse in"}
                .panel-body
                  = conversation.messages.last.body
          