.content-wrapper
  .container
    .row
      .col-md-12
        %h4.page-head-line Your Conversations
      .row
      - @conversations.each do |conversation|
        .col-md-4.col-sm-4
          .panel.panel-default
            .panel-heading
              Most recent messages from #{ link_to "#{conversation.messages.last.author.first_name} #{conversation.messages.last.author.last_name}", conversation_messages_path(conversation)}
            .panel-body
              = conversation.messages.last.body
            .panel-footer
              = conversation.messages.last.created_at.strftime("Sent on %B %d, %Y at %H:%M")