.content-wrapper
  = render 'shared/content_title', title: "All Conversations"
  .container
    .row
      .col-md-12
      - @conversations.each do |conversation|
        .col-md-4.col-sm-4
          .panel.panel-default
            .panel-heading
              = link_to "Conversation between #{conversation.sender.first_name} #{conversation.sender.last_name} and #{conversation.recipient.first_name} #{conversation.recipient.last_name}.", admin_conversation_messages_path(conversation)

              .gravatar-header
                = link_to image_tag(conversation.sender.gravatar_url, :size => "30"), user_path(current_user)
                = link_to image_tag(conversation.recipient.gravatar_url, :size => "30"), user_path(current_user)
            .panel-body
              = conversation.messages.last.body
            .panel-footer
              = conversation.messages.last.created_at.strftime("Sent on %B %d, %Y at %H:%M")