.content-wrapper
  = render 'shared/content_title', title: "Edit Your Profile"
  .container
    .row
      .col-md-12


      = bootstrap_form_for(@user) do |f|
        %script{:type => "text/javascript"}
          :plain
            $(document).ready(function() {
              $('#user_interest_ids').multiselect();
              $('#user_city_ids').multiselect();
            });


        .panel.panel-default
          .panel-heading
            Your Activity Interests
          .panel-body
            .list-group
              - @user.interests.each do |interest|
                .list-group-item 
                  = link_to "#{interest.name}", user_path
              - Interest.all.each do |interest|
                = check_box_tag :interest_ids, interest.id, @user.interests.include?(interest), :name => 'user[interest_ids][]'
                = label_tag :interest_ids, interest.name
        .panel.panel-default
          .panel-heading
            Your Cities
          .panel-body
            .list-group
              - @user.cities.each do |city|
                .list-group-item
                  = link_to "#{city.name}", user_path
              - City.all.each do |city|
                = check_box_tag :city_ids, city.id, @user.cities.include?(city), :name => 'user[city_ids][]'
                = label_tag :city_ids, city.name

        = f.submit "Update Your Profile", class: "btn btn-primary"
