= render 'shared/content_title', title: "#{@user.first_name} #{@user.last_name}'s Profile"
.row
  %h3
    Interests
  %br/
  - @user.interests.each do |interest|
    .col-md-4.col-sm-4
      .panel.panel-default
        .panel-heading
          = link_to "#{interest.name}", user_path
.row
  %h3
    Cities of Interest
  %br/
  - @user.cities.each do |city|
    .col-md-4.col-sm-4
      .panel.panel-default
        .panel-heading
          = link_to "#{city.name}", user_path
                        