.content-wrapper
  = render 'shared/content_title', title: "#{@user.first_name} #{@user.last_name}'s Profile"
  .container
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            Interests
          .panel-body
            .list-group
              - @user.interests.each do |interest|
                .list-group-item 
                  = link_to "#{interest.name}", user_path
        .panel.panel-default
          .panel-heading
            Cities
          .panel-body
            .list-group
              - @user.cities.each do |city|
                .list-group-item
                  = link_to "#{city.name}", user_path
        - if @user == current_user
          = link_to "Edit your profile", edit_user_path, class: "btn btn-primary"
      - if @user != current_user
        .col-md-6
          .Compose-Message
            .panel.panel-success
              .panel-heading
                = "Compose New Message to #{@user.first_name} #{@user.last_name}"
              .panel-body
                - if @conversation.present?
                  = bootstrap_form_for [@conversation, @message] do |f|
                    = f.text_area :body, rows: 6
                    = f.submit
                - else
                  = bootstrap_form_for Conversation.new do |f|
                    = f.hidden_field :recipient_id, :value => params[:id]
                    -require 'pry';binding.pry
                    = fields_for @message do |m|
                      = m.text_area :body
                      = m.submit            